version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "frontend"
    schedule:
      interval: "weekly"

  # Dependabot for Implementations (Harnesses)
  # ------------------------------------------

  # ignore: clojure-json-schema - FIXME: Dependabot doesn't support clojure.
  #        See https://github.com/frenchy64/dependabot-lein-via-mvn for
  #        a possible workaround.
  # - package-ecosystem: "clojure"
  #   directory: "/implementations/clojure-json-schema"
  #   schedule:
  #     interval: "daily"

  # ignore: cpp-valijson - builds its repository's HEAD

  - package-ecosystem: "nuget"
    directory: "/implementations/dotnet-jsonschema-net"
    schedule:
      interval: "daily"

  - package-ecosystem: "gomod"
    directory: "/implementations/go-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "gomod"
    directory: "/implementations/go-gojsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/implementations/js-ajv"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/implementations/js-hyperjump"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/implementations/ts-vscode-json-languageservice"
    schedule:
      interval: "daily"

  # ignore: lua-jsonschema - installs the latest (unpinned) version
  # ignore: python-fastjsonschema - installs the latest (unpinned) version
  # ignore: python-jschon - installs the latest (unpinned) version
  # ignore: python-jsonschema - installs the latest (unpinned) version

  - package-ecosystem: "bundler"
    directory: "/implementations/ruby-json_schemer"
    schedule:
      interval: "daily"

  - package-ecosystem: "composer"
    directory: "/implementations/php-opis-json-schema"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/implementations/rust-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/implementations/rust-boon"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/implementations/java-json-schema"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/implementations/java-json-schema-validator"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/implementations/java-openapiprocessor"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/implementations/kotlin-kmp-json-schema-validator"
    schedule:
      interval: "daily"

  # Dependabot for Dockerfiles
  # --------------------------

  # See dependabot/dependabot-core#1015 or dependabot/dependabot-core#2178,
  # this doesn't happen automatically, so hooray, manual list.

  - package-ecosystem: "docker"
    directory: "/implementations/clojure-json-schema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/cpp-valijson"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/dotnet-jsonschema-net"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/go-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/go-gojsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/js-ajv"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/js-hyperjump"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/lua-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/php-opis-json-schema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/python-fastjsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/python-jschon"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/python-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/ruby-json_schemer"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/rust-jsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/rust-boon"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/java-json-schema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/java-json-schema-validator"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/java-openapiprocessor"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/kotlin-kmp-json-schema-validator"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/implementations/ts-vscode-json-languageservice"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/tests/fauxmplementations/envsonschema"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/tests/fauxmplementations/lintsonschema"
    schedule:
      interval: "daily"
