ci:
  skip:
    - clippy # doesn't seem to run in pre-commit.ci
    - swift-format # timesout in pre-commit.ci

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - name: ensure bowtie's own schemas are valid
        id: check-metaschema
        files: ^bowtie/schemas/.*\.json$
  - repo: local
    hooks:
      - id: check-dependabot
        name: check implementations for dependabot registration
        language: python
        pass_filenames: false
        entry: .pre-commit-hooks/check-dependabot
        additional_dependencies: [pyyaml]
      - id: check-lintsonschema
        name: check lintsonschema for drift
        language: python
        pass_filenames: false
        entry: .pre-commit-hooks/check-lintsonschema-schema
  - repo: https://github.com/doublify/pre-commit-rust
    rev: "v1.0"
    hooks:
      - name: cargo fmt rust-jsonschema
        id: fmt
        args:
          [
            "--manifest-path",
            "implementations/rust-jsonschema/Cargo.toml",
            "--",
          ]
      - name: cargo clippy rust-jsonschema
        id: clippy
        args:
          [
            "--manifest-path",
            "implementations/rust-jsonschema/Cargo.toml",
            "--allow-dirty",
            "--allow-staged",
            "--fix",
            "--",
          ]
      - name: cargo fmt rust-boon
        id: fmt
        args: ["--manifest-path", "implementations/rust-boon/Cargo.toml", "--"]
      - name: cargo clippy rust-boon
        id: clippy
        args:
          [
            "--manifest-path",
            "implementations/rust-boon/Cargo.toml",
            "--allow-dirty",
            "--allow-staged",
            "--fix",
            "--",
          ]
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - name: go fmt (golang implementations)
        id: go-fmt
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: "3.0.0"
    hooks:
      - name: rubocop (ruby implementations)
        id: rubocop
        args: ["--auto-correct"]
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - name: stylua (lua implementations)
        id: stylua
        exclude: .*/json.lua
        args: ["--config-path", "implementations/.lua-implementations-stylua.toml"]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - name: clang-format (c/c++/c#/java implementations)
        id: clang-format
        types_or: [c++, c, c#, java, objective-c]
  - repo: https://github.com/dustinsand/pre-commit-jvm
    rev: v0.11.0
    hooks:
      - name: pmd (java implementations)
        id: pmd
        args:
          [
            "-R",
            "implementations/.java-implementations-pmd-ruleset.xml",
            "-d",
            "implementations",
          ]
  - repo: https://github.com/swiftlang/swift-format
    rev: swift-DEVELOPMENT-SNAPSHOT-2026-02-06-a
    hooks:
      - name: swift-format (swift implementations)
        id: swift-format
        args:
          [
            "implementations/swift-swift-json-schema/Sources"
          ]
