repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.261"
    hooks:
      - id: ruff
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.23.0
    hooks:
      - id: djlint-jinja
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - name: black (python implementations & bowtie internals)
        id: black
        args: ["--line-length", "79"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - name: prettier (javascript implementations & bowtie internals)
        id: prettier
  - repo: https://github.com/doublify/pre-commit-rust
    rev: "v1.0"
    hooks:
      - name: cargo fmt rust-jsonschema
        id: fmt
        args:
          [
            "--manifest-path",
            "implementations/rust-jsonschema/Cargo.toml",
            "--",
          ]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: "v1.0"
    hooks:
      - name: cargo fmt rust-boon
        id: fmt
        args: ["--manifest-path", "implementations/rust-boon/Cargo.toml", "--"]
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - name: go fmt (golang implementations)
        id: go-fmt
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: "3.0.0"
    hooks:
      - name: rubocop (ruby implementations)
        id: rubocop
        args: ["--auto-correct"]
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.17.1
    hooks:
      - name: stylua (lua implementations)
        id: stylua
        exclude: .*/json.lua
        args: ["--config-path", "implementations/lua-jsonschema/stylua.toml"]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - name: clang-format (c/c++/c# implementations)
        id: clang-format
        types_or: [c++, c, c#, objective-c]
