.center-content {
  display: grid;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
}