<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bowtie –</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <style>
      .details-required {
        position: relative;
      }

      .details-required div {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
      }

      .details-required:hover {
        cursor: tooltip;
      }

      .details-required:hover div {
        padding: 1rem;
        padding-bottom: 0rem;
        margin-right: 8rem;
        visibility: visible;
        border-radius: 1rem;
        background-color: rgba(242, 242, 242, 0.892);
        opacity: 1;
      }

      .details-required:hover div .details-desc {
        right: -40%;
      }

      .hover-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.7rem;
      }

      .hover-details span {
        font-style: italic;
        font-weight: 500;
        color: rgb(112, 112, 112);
        font-size: 0.8rem;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top mb-4">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">Bowtie</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#run-info">Run Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cases">Details</a>
            </li>
          </ul>
        </div>
        <button id="theme-toggler" class="btn border-0 me-1"></button>

        <a
          href="https://github.com/bowtie-json-schema/bowtie/"
          class="link-secondary"
        >
          <span class="navbar-text">
            <small id="bowtie-version">Bowtie v - </small>
          </span>
        </a>
      </div>
    </nav>

    <div class="container p-4">
      <div class="card mx-auto mb-3 w-75" id="run-info">
        <div class="card-header">Run Info</div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <tr>
              <td>Dialect</td>
              <td id="dialect-link"></td>
            </tr>
            <tr>
              <td>Ran</td>
              <td>
                <time id="run-started"></time>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card mx-auto mb-3 w-75" id="summary">
        <div class="card-header">Summary</div>

        <div id="summary-card" class="card-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th
                  colspan="2"
                  rowspan="2"
                  scope="col"
                  class="text-center align-middle"
                  style="color: white;"
                >
                  implementation
                </th>
                <th colspan="1" class="text-center">
                  <span id="total_cases" class="text-muted">cases</span>
                </th>
                <th colspan="3" class="text-center">
                  <span id="total_tests" class="text-muted">tests</span>
                </th>
                <th colspan="1"></th>
              </tr>

              <tr>
                <th scope="col" class="text-center" style="color: white;">errors</th>

                <th scope="col" class="table-bordered text-center" style="color: white;">skipped</th>
                <th
                  scope="col"
                  class="table-bordered text-center details-required"
                  style="color: white;"
                >
                  <div class="hover-details details-desc text-center" >
                    <p>failed
                      <br><span>implementation worked successfully but got the wrong answer</span>
                    </p>
                    <p>errored
                      <br><span>implementation crashed when trying to calculate an answer</span>
                    </p>
                  </div>
                  unsuccessful
                </th>

                <th scope="col"></th>
              </tr>
            </thead>

            <tbody id="tbody" class="table-group-divider"></tbody>

            <tfoot>
              <tr>
                <th scope="row" colspan="2">total</th>

                <td id="summary-errored_cases" class="text-center"></td>

                <td id="summary-skipped_tests" class="text-center"></td>
                <td
                  id="summary-unsuccessful_tests"
                  class="text-center details-required"
                >
                </td>
                <td></td>
              </tr>
            </tfoot>
          </table>
          <!-- some content through JS  -->
        </div>
      </div>
      <div class="accordion pt-5" id="cases">
        <!-- some content through JS  -->
      </div>
    </div>

    <!-- Modals -->

    <!-- Modal- Details  -->
    <div name="modal-details" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div name="modal-header-details" class="modal-header">
            <!-- some content through JS  -->
          </div>
          <div class="modal-body">
            <div name="modal-body-details-child" class="row row-cols-1 row-cols-md-2 g-4">
              <!-- some content through JS  -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal- run-info  -->
    <div name="modal-runtime-info" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div name="modal-header-runtime-info" class="modal-header">
            <!-- some content through JS  -->
          </div>
          <div name="modal-body-runtime-info" class="modal-body">

          </div>
          <div class="modal-footer m-2 p-0">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Schema display element (hidden by default)  -->
    <div id="display-body" class="card mb-3 d-none mw-100">
      <div class="row">
        <div class="col-8 pe-0">
          <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
            <small class="font-monospace text-body-secondary text-uppercase">
                Schema
            </small>
            <div class="d-flex ms-auto">
              <button
                type="button"
                id="copy-button-schema"
                class="btn mt-0 me-0"
                onclick='copyToClipboard("schema-code","copy-button-schema")'
                aria-label="Copy to clipboard"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Copy to clipboard"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                </svg>
              </button>
            </div>
          </div>
          <div id="schema-code" class="card-body"></div>
        </div>
        <div class="col-4 border-start ps-0">
          <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
            <small class="font-monospace text-body-secondary text-uppercase">
                Instance
            </small>
            <div class="d-flex ms-auto">
              <button
                type="button"
                id="copy-button-instance"
                onclick='copyToClipboard("instance-info","copy-button-instance")'
                class="btn mt-0 me-0"
                aria-label="Copy to clipboard"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Copy to clipboard"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" >
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                </svg>
              </button>
            </div>
          </div>
          <div id="instance-info" class="card-body"></div>
        </div>
      </div>
    </div>


    <!-- Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="module" src="../utilclasses.js"></script>

    <script>
      async function jsonData(dataObjectsArray, generate_dialect_navigation = false) {
        const module = await import("../utilclasses.js");
        const RunInfo = module.RunInfo;
        const CaseResult = module.CaseResult;
        const CaseSkipped = module.CaseSkipped;

        let lines = dataObjectsArray.map(line => JSON.parse(line));
        //console.log(lines)
        //console.log(RunInfo)

        let run_info = new RunInfo(...Object.values(lines[0]));
        //console.log(run_info)
        //console.log(run_info._implementations)
        let summary = run_info.create_summary();
        //console.log(summary)
        //console.log(summary.counts)


        for (let i = 1; i < lines.length; i++) {
          let each = lines[i];
          if ("case" in each) {
              summary.add_case_metadata(each);
          } else if ("caught" in each) {
              summary.see_error(each);
          } else if ("skipped" in each) {
              delete each["skipped"];
              summary.see_skip(new CaseSkipped(each));
          } else if ("did_fail_fast" in each) {
              summary.see_maybe_fail_fast(each);
          } else {
              summary.see_result(CaseResult.from_dict(each));
          }
      }
        console.log(to_icon())
        function to_icon(valid) {
          if (valid === true) {
            // Circular Checkmark SVG Icon
            return `
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
              </svg>
            `;
          } else if (valid === false) {
            // Circular cross (x) SVG Icon
            return `
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>
            `;
          } else {
            // Circular warning (!) SVG Icon
            return `
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
              </svg>
            `;
          }
        };

        const titleElement = document.querySelector("title");
            titleElement.textContent += ` ${run_info.dialect_shortname}`;

            //adding bowtie version
            var bowtieVersion = document.getElementById("bowtie-version");
            bowtieVersion.textContent += `${run_info.bowtie_version}`;

            /////////////////////////////////////////////////////////
            // runinfo section
            //adding dialect link in #run-info
            var dialectLink = document.querySelector("#dialect-link");
            dialectLink.textContent = `${run_info.dialect}`;

            let ago = (Date.now() - Date.parse(`${run_info.started}`)) / 1000;
            let agoUnits = "seconds";
            if (ago > 60) {
              ago /= 60;
              agoUnits = "minutes";
              if (ago > 60) {
                ago /= 60;
                agoUnits = "hours";
                if (ago > 24) {
                  ago /= 24;
                  agoUnits = "days";
                  if (ago > 7) {
                    ago /= 7;
                    agoUnits = "weeks";
                  }
                }
              }
            }
            const roundedAgo = Math.round(ago);
            const formattedAgo = Number.isFinite(roundedAgo)
              ? new Intl.RelativeTimeFormat("en", { numeric: "auto" }).format(
                  -roundedAgo,
                  agoUnits
                )
              : "";
            document.getElementById("run-started").textContent = formattedAgo;

            //summary section
            var totalCases = document.getElementById("total_cases");
            totalCases.textContent += ` (${summary.total_cases})`;

            var totalTests = document.getElementById("total_tests");
            totalTests.textContent += ` (${summary.total_tests})`;

            //updating summary table
            tbody = document.getElementById("tbody");
            //console.log(typeof(summary.implementations.length))

            let implementations = summary.implementations;
            //console.log(implementations)
            for (const [index, implementation] of summary.implementations.entries()) {
              //th section of summary table's data
              let counts = summary.counts[implementation.image];
              //console.log(implementation)
              //console.log(counts)

              var tr = document.createElement("tr");
              var th = document.createElement("th");
              th.setAttribute("scope", "row");

              const a = document.createElement("a");
              a.setAttribute("href", `${implementation.homepage || implementation.issue}`);
              a.textContent = `${implementation.name}`;

              const smallTH = document.createElement("small");
              smallTH.setAttribute("class", "text-muted");
              smallTH.textContent += " " + `${ implementation.language}`;

              th.appendChild(a);
              th.appendChild(smallTH);
              tr.appendChild(th);
              //console.log(tr)

              //td section of summary table's data
              var td = document.createElement("td");
              const smallTD = document.createElement("small");
              smallTD.setAttribute("class", "font-monospace text-muted");
              //console.log(implementation.version || "")
              smallTD.textContent = implementation.version || "";

              const buttonTD = document.createElement("button");
              buttonTD.setAttribute("class", "btn border-0");

              const svgTD = document.createElementNS(
                "http://www.w3.org/2000/svg",
                "svg"
              );
              svgTD.setAttribute("width", "16");
              svgTD.setAttribute("height", "16");
              svgTD.setAttribute("fill", "currentColor");
              svgTD.setAttribute("class", "bi bi-info-circle-fill");
              svgTD.setAttribute("viewBox", "0 0 16 16");
              svgTD.setAttribute("data-bs-toggle", "modal");
              svgTD.setAttribute(
                "data-bs-target",
                `#implementation-${index}-runtime-info`
              );

              const pathTD = document.createElementNS(
                "http://www.w3.org/2000/svg",
                "path"
              );
              pathTD.setAttribute(
                "d",
                "M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
              );

              svgTD.appendChild(pathTD);
              buttonTD.appendChild(svgTD);

              td.appendChild(smallTD);
              td.appendChild(buttonTD);

              tr.appendChild(td);

              //final section of table body
              var td2 = document.createElement("td");
              td2.setAttribute("class", "text-center");
              td2.textContent = `${counts.errored_cases}`;

              var td3 = document.createElement("td");
              td3.setAttribute("class", "text-center");
              td3.textContent += `${counts.skipped_tests}`;

              var td4 = document.createElement("td");
              td4.setAttribute("class", "text-center details-required");
              td4.textContent += counts.failed_tests + counts.errored_tests;
              //console.log(typeof(counts.failed_tests))

              var td4a = document.createElement('div');
              td4a.classList = 'hover-details text-center';
              td4a.innerHTML = '<p><b>failed</b>: ' + counts.failed_tests + '</p><p><b>errored</b>: ' + counts.errored_tests + '</p>';

              td4.appendChild(td4a);

              var td5 = document.createElement("td");
              var detailButton = document.createElement("button");
              detailButton.setAttribute("type", "button");
              detailButton.setAttribute("class", "btn btn-sm btn-primary");
              detailButton.setAttribute("data-bs-toggle", "modal");
              detailButton.setAttribute("data-bs-target", `#implementation-${index}-details`);
              detailButton.textContent += "Details";

              td5.appendChild(detailButton);

              tr.appendChild(td2);
              tr.appendChild(td3);
              tr.appendChild(td4);
              tr.appendChild(td5);

              tbody.appendChild(tr);
            };

            // summary table footer (total)
            erroredCases = document.getElementById('summary-errored_cases');
            erroredCases.textContent = summary.errored_cases;

            skippedTests = document.getElementById("summary-skipped_tests");
            skippedTests.textContent = summary.skipped_tests;

            unsuccessfulTests = document.getElementById(
              "summary-unsuccessful_tests"
            );
            unsuccessfulTests.textContent = summary.errored_cases + summary.skipped_tests;

            var summaryCard = document.getElementById('summary-card');
            if (summary.did_fail_fast.did_fail_fast) {
              var didFailFast = document.createElement('div');
              didFailFast.className = "alert alert-warning";
              didFailFast.setAttribute("role", "alert");
              didFailFast.textContent = "This run failed fast, so some input cases may not have been run.";

              summaryCard.appendChild(didFailFast);
            };


            //////////////////////////////////////////////////////
            // Cases section (accordions)
            
            const accordionCases = document.getElementById('cases');
            var flatResults = summary.flat_results();
            //console.log((summary.flat_results()))

            for (let [seq, description, schema, registry, results] of flatResults) {

              //console.log((seq))
              //console.log((results))

              //creating item div
              var item = document.createElement("div");
              item.classList.add("accordion-item");
              
              // creating h2 element
              const accordionItemsH2 = document.createElement('h2');
              accordionItemsH2.setAttribute("class", "accordion-header");
              accordionItemsH2.setAttribute("id", `case-${ seq }-heading`);

              const accordionItemsButton = document.createElement("button");
              accordionItemsButton.setAttribute("class", "accordion-button collapsed");
              accordionItemsButton.setAttribute("type", "button");
              accordionItemsButton.setAttribute('data-bs-toggle', 'collapse');
              accordionItemsButton.setAttribute('data-bs-target', `#case-${ seq }`);
              accordionItemsButton.setAttribute('aria-expanded', 'false');
              accordionItemsButton.setAttribute('aria-controls', 'case-${ seq }');

              accordionItemsButton.onclick = function() {
                schemaDisplay(`accordion-body${ seq }`, JSON.stringify(schema, null, 2), "schema-code", `row-${ seq }`);
              };

              //schemaDisplay function
              let currentParrentBodyId = '';
              const displayBody = document.querySelector("#display-body");
              function schemaDisplay(parentBodyId, code, targetId, rowClass) {
                if (parentBodyId != currentParrentBodyId) {
                  currentParrentBodyId = parentBodyId;
                  displayBody.classList.remove("d-none");
                  displayBody.classList.add("d-block");
                  document.getElementById('instance-info').innerHTML = '';
                  const isDisplayed = displayBody.parentElement === document.getElementById(parentBodyId);
                  if (isDisplayed) {
                    displayBody.parentElement.removeChild(displayBody);
                  } else {
                    rowHighlightListener(rowClass);
                    displayCode(code, targetId);
                    const accordionBody = document.querySelector(`#${parentBodyId}`);
                    accordionBody.insertBefore(displayBody, accordionBody.firstChild);
                  }
                }
              };

              function displayCode(code, targetId) {
                const targetDisplay = document.getElementById(targetId);
                displayBody.classList.remove("d-none");
                displayBody.classList.add("d-block");
                targetDisplay.innerHTML = `<pre>${code}</pre>`;
              }

              //rowHighlightListener function
              function rowHighlightListener(rowClass) {
                const instanceRows = document.getElementsByClassName(rowClass);
                for (let i = 0; i < instanceRows.length; i++) {
                  const currentInstanceRow = instanceRows[i];
                  currentInstanceRow.addEventListener('click', function () {
                    const activeElements = document.getElementsByClassName('table-active');
                    for (let j = 0; j < activeElements.length; j++) {
                      activeElements[j].classList.remove('table-active');
                    }
                    currentInstanceRow.classList.add('table-active');
                  });
                }
              }

              const accordionItemsA = document.createElement("a");
              accordionItemsA.setAttribute("href", "#schema");
              accordionItemsA.setAttribute("class", "text-decoration-none");
              accordionItemsA.textContent += description;

              // appending the elements to create 'h2' element
              accordionItemsButton.appendChild(accordionItemsA);
              accordionItemsH2.appendChild(accordionItemsButton);
              item.appendChild(accordionItemsH2);
              //console.log(accordionItemsH2)


              // creating the div element
              const accordionItemsDiv = document.createElement("div");
              accordionItemsDiv.setAttribute("id", `case-${ seq }`);
              accordionItemsDiv.setAttribute("class", "accordion-collapse collapse");
              accordionItemsDiv.setAttribute("aria-labelledby", `case-${ seq }-heading`);
              accordionItemsDiv.setAttribute("data-bs-parent", "#cases");

              const accordionItemsChildDiv = document.createElement("div");
              accordionItemsChildDiv.setAttribute("id", `accordion-body${ seq }`);
              accordionItemsChildDiv.setAttribute("class", "accordion-body");

              accordionItemsDivTable = document.createElement('table');
              accordionItemsDivTable.setAttribute("class", "table table-hover");

              const accordionItemsDivTHead = document.createElement('thead');
              const accordionItemsDivTR = document.createElement('tr');

              const accordionItemsDivTH = document.createElement('th');
              accordionItemsDivTH.setAttribute("scope", "col");
              accordionItemsDivTH.innerHTML = "Tests";

              //appending Child
              accordionItemsDivTR.appendChild(accordionItemsDivTH);

              for(const implementation of summary.implementations) {
                const accordionItemsDivTH2 = document.createElement('th');
                accordionItemsDivTH2.setAttribute("class", "text-center");
                accordionItemsDivTH2.setAttribute("scope", "col");
                accordionItemsDivTH2.textContent += implementation.name;

                const implementationName = document.createTextNode(implementation.name);

                const accordionItemsDivSmall = document.createElement('small');
                accordionItemsDivSmall.setAttribute("class", "text-muted");
                accordionItemsDivSmall.innerHTML = implementation.language;

                accordionItemsDivTH2.appendChild(implementationName);
                accordionItemsDivTH2.appendChild(accordionItemsDivSmall);
                accordionItemsDivTR.appendChild(accordionItemsDivTH2);
              };
              // thead appending to table
              accordionItemsDivTHead.appendChild(accordionItemsDivTR);
              accordionItemsDivTable.appendChild(accordionItemsDivTHead);

              //console.log(results)
              ///////////////////////////
              for (let [test, test_result] of results) {


                //🛑🛑 this is just temporary. Must need to be changed!🛑🛑
                test_result["myImage"] = "abcdefg";
                //console.log((test_result))
                const testsTR = document.createElement('tr');
                testsTR.setAttribute("class", `row-${ seq }`);
                testsTR.addEventListener('click', function() {
                  const instanceInfo = document.getElementById('instance-info');
                  instanceInfo.textContent = JSON.stringify(test.instance, null, 2);
                });

                const testsTD = document.createElement("td");

                const testsA = document.createElement("a");
                testsA.setAttribute("href", "#schema");
                testsA.setAttribute("class", "text-decoration-none");
                testsA.innerHTML = test.description;

                testsTD.appendChild(testsA);
                testsTR.appendChild(testsTD);

                //for (let implementation of summary.implementations) {
                summary.implementations.forEach(function(implementation) {
                  //console.log(implementation.image)
                  //const result = test_results[implementation.image];
                  //const implementation_result = result ? result[0] : { valid: null };
                  //const incorrect = result ? result[1] : true;

                  var implementationCell = document.createElement("td");
                  implementationCell.classList.add("text-center");

                  //🛑🛑 Most modify below variable. This is just temporary 🛑🛑
                  //original -->> var implementationResult = test_result[implementation.image];
                  var implementationResult = test_result["myImage"];

                  //console.log(typeof(implementationResult))
                  var incorrect = implementationResult ? implementationResult.valid === null : true;


                  if (incorrect === 'skipped') {
                    implementationCell.classList.add("text-bg-warning");
                    implementationCell.innerHTML = to_icon(null);
                  } else if (incorrect === 'errored') {
                    implementationCell.classList.add("text-bg-danger");
                    implementationCell.innerHTML = to_icon(null);
                  } else {
                    implementationCell.classList.add(
                      "text-center",
                      incorrect ? "text-bg-danger" : implementationResult[0].valid !== true && implementationResult[0].valid !== false ? "text-bg-warning" : ""
                    );
                    implementationCell.innerHTML = to_icon(implementationResult[0].valid);
                  };

                  testsTR.appendChild(implementationCell);
                });

                accordionItemsDivTable.appendChild(testsTR);
                };

              //updating the child div elements
              accordionItemsChildDiv.append(accordionItemsDivTable);
              accordionItemsDiv.appendChild(accordionItemsChildDiv);
              item.appendChild(accordionItemsDiv);
              accordionCases.appendChild(item);
            };


            ///////////////////////////////////////////////////////// Modals //////////////////////////////////////////////////////
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            // Iterate over the implementations data
            for (var i = 0; i < summary.implementations.length; i++) {
              var implementation = summary.implementations[i];

              /////////////////
              // details Modal
              var ModalContainerDetails = document.getElementsByName("modal-details")[0];
              ModalContainerDetails.id = `implementation-${i}-details`;
              ModalContainerDetails.setAttribute("aria-labelledby", `implementation-${i}-details-label`);
              //console.log(ModalContainerDetails)

              // Creating modal header for 'details'
              var modalHeaderDetails = document.getElementsByName('modal-header-details')[0];
              //console.log(modalHeaderDetails)

              var modalTitleDetails = document.createElement("h1");
              modalTitleDetails.className = "modal-title fs-5";
              modalTitleDetails.id = `implementation-${i}-details-label`;
              modalTitleDetails.textContent = implementation.name;

              var modalSmallDetails = document.createElement("small");
              modalSmallDetails.className = "text-muted";
              modalSmallDetails.textContent = implementation.language;

              modalTitleDetails.appendChild(modalSmallDetails);

              var modalCloseButtonDetails = document.createElement("button");
              modalCloseButtonDetails.type = "button";
              modalCloseButtonDetails.className = "btn-close";
              modalCloseButtonDetails.setAttribute("data-bs-dismiss", "modal");
              modalCloseButtonDetails.setAttribute("aria-label", "Close");

              modalHeaderDetails.appendChild(modalTitleDetails);
              modalHeaderDetails.appendChild(modalCloseButtonDetails);

              // Creating modal body
              var modalBodyChildDetails = document.getElementsByName('modal-body-details-child')[0];
              //console.log(modalBodyDetails)

              let flatResults = summary.flat_results();
              for (let [seq, description, schema, registry, results] of flatResults) {

                for (let [test, test_results] of results){
                  //🛑🛑 this is just temporary. Must need to be changed!🛑🛑
                  test_results["yourImage"] = "wxyz";
                  //console.log(test_result)

                  if (test_results.hasOwnProperty(implementation.image)) {
                    var testResult = test_results[implementation.image];
                    implementationResult = testResult[0];
                    incorrect = testResult[1];
                  } else {
                    implementationResult = { valid: null };
                    incorrect = true;
                  }

                  // Creating card element
                  var col = document.createElement("div");
                  col.className = "col";

                  var card = document.createElement("div");
                  card.className = "card mb-3";
                  if (incorrect === "skipped") {
                    card.classList.add("border-warning");
                  } else if (incorrect === "errored") {
                    card.classList.add("border-danger");
                  } else if (incorrect) {
                    card.classList.add("border-danger");
                  }

                  var cardBody = document.createElement("div");
                  cardBody.className = "card-body";

                  var cardTitle = document.createElement("h5");
                  cardTitle.className = "card-title";
                  cardTitle.textContent = description;

                  var cardText = document.createElement("p");
                  cardText.className = "card-text";
                  cardText.textContent = test.description;

                  cardBody.appendChild(cardTitle);
                  cardBody.appendChild(cardText);

                  var cardFooter = document.createElement("div");
                  cardFooter.className = "card-footer text-muted text-center";

                  if (incorrect === "skipped" || incorrect === "errored") {
                    cardFooter.innerHTML = implementationResult;
                  } else if (incorrect) {
                    var implementationValid = implementationResult.valid;
                    var implementationStatus =
                      implementationValid === true
                        ? "valid"
                        : implementationValid === false
                        ? "invalid"
                        : "errored";
                    cardFooter.innerHTML = "Unexpectedly " + implementationStatus;
                  }

                  card.appendChild(cardBody);
                  card.appendChild(cardFooter);

                  col.appendChild(card);
                  modalBodyChildDetails.appendChild(col);
                };
              };

              /////////////////////
              //runtime-info Modal
              var ModalContainerRuntimeInfo = document.getElementsByName('modal-runtime-info')[0];
              ModalContainerRuntimeInfo.id = `implementation-${i}-runtime-info`;
              ModalContainerRuntimeInfo.setAttribute("aria-labelledby", `implementation-${i}-runtime-info-label`);
              //console.log(ModalContainerRuntimeInfo)

              // Creating runtime info modal header
              var modalHeaderRuntimeInfo = document.getElementsByName('modal-header-runtime-info')[0];
              //console.log(modalHeaderRuntimeInfo)

              var modalTitleRuntimeInfo = document.createElement("h5");
              modalTitleRuntimeInfo.className = "modal-title";
              modalTitleRuntimeInfo.id = `implementation-${i}-runtime-info-label`;

              var titleTextRuntimeInfo = document.createElement("b");
              titleTextRuntimeInfo.textContent = implementation.name;

              var smallRuntimeInfo = document.createElement("small");
              smallRuntimeInfo.className = "text-muted";
              smallRuntimeInfo.textContent = implementation.language;

              modalTitleRuntimeInfo.appendChild(titleTextRuntimeInfo);
              modalTitleRuntimeInfo.appendChild(smallRuntimeInfo);

              var closeButtonRuntimeInfo = document.createElement("button");
              closeButtonRuntimeInfo.type = "button";
              closeButtonRuntimeInfo.className = "btn-close";
              closeButtonRuntimeInfo.setAttribute("data-bs-dismiss", "modal");
              closeButtonRuntimeInfo.setAttribute("aria-label", "Close");

              modalHeaderRuntimeInfo.appendChild(modalTitleRuntimeInfo);
              modalHeaderRuntimeInfo.appendChild(closeButtonRuntimeInfo);

              // Creating runtime info modal body
              var modalBodyRuntimeInfo = document.getElementsByName('modal-body-runtime-info')[0];
              //console.log(modalBodyRuntimeInfo)

              // Checking and appending runtime info if available
              if (implementation.os_version) {
                var osVersion = document.createElement("p");
                osVersion.innerHTML = "<strong>OS Version: </strong>" + implementation.os_version;
                modalBodyRuntimeInfo.appendChild(osVersion);
              }

              if (implementation.os) {
                var os = document.createElement("p");
                os.innerHTML = "<strong>OS: </strong>" + implementation.os;
                modalBodyRuntimeInfo.appendChild(os);
              }

              if (implementation.language) {
                var language = document.createElement("p");
                language.innerHTML = "<strong>Language: </strong>" + implementation.language;
                modalBodyRuntimeInfo.appendChild(language);
              }

              if (implementation.language_version) {
                var languageVersion = document.createElement("p");
                languageVersion.innerHTML = "<strong>Language Version: </strong>" + implementation.language_version;
                modalBodyRuntimeInfo.appendChild(languageVersion);
              }

            };

      };
    </script>


    <script>
      const script = document.createElement("script");
      script.src = "https://cdn.jsdelivr.net/npm/pako@2.0.3/dist/pako.min.js";
      document.head.appendChild(script);

      let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      let themeTogglerButton = document.getElementById("theme-toggler");
      script.onload = () => {
        //fetching json data

        fetch("https://bowtie-json-schema.github.io/bowtie/draft7.json.gz")
          .then((response) => response.arrayBuffer())
          .then((buffer) => {
             const inflated = pako.inflate(buffer, { to: "string" });
             const dataObjectsArray = inflated.trim().split(/\n(?=\{)/);
              //console.log(dataObjectsArray)
            const data = dataObjectsArray.map((line) => JSON.parse(line)); 
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            jsonData(dataObjectsArray);

            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          });
      };

      //changing theme icon
      //moon icon
      var themeSvgMoon = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "svg"
      );
      themeSvgMoon.setAttribute("xmlns", "http://www.w3.org/2000/svg");
      themeSvgMoon.setAttribute("width", "20");
      themeSvgMoon.setAttribute("height", "20");
      themeSvgMoon.setAttribute("fill", "currentColor");
      themeSvgMoon.setAttribute("class", "bi bi-moon-fill");
      themeSvgMoon.setAttribute("viewBox", "0 0 16 16");
      const pathMoon = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "path"
      );
      pathMoon.setAttribute(
        "d",
        "M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
      );
      themeSvgMoon.appendChild(pathMoon);

      //Sun Icon
      var themeSvgSun = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "svg"
      );
      themeSvgSun.setAttribute("xmlns", "http://www.w3.org/2000/svg");
      themeSvgSun.setAttribute("width", "20");
      themeSvgSun.setAttribute("height", "20");
      themeSvgSun.setAttribute("fill", "currentColor");
      themeSvgSun.setAttribute("class", "bi bi-sun");
      themeSvgSun.setAttribute("viewBox", "0 0 16 16");

      const pathSun = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "path"
      );
      pathSun.setAttribute(
        "d",
        "M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
      );
      themeSvgSun.appendChild(pathSun);

      dark
        ? themeTogglerButton.appendChild(themeSvgMoon)
        : themeTogglerButton.appendChild(themeSvgSun);

      //adding dark theme
      const body = document.querySelector("body");
      const nav = document.querySelector("nav");
      nav.classList.add(dark ? ("navbar-dark", "bg-dark") : ("navbar-light", "bg-light"))
      body.setAttribute("data-bs-theme", dark ? "dark" : "light");

      themeTogglerButton.addEventListener("click", () => {
        body.setAttribute("data-bs-theme", dark ? "light" : "dark");
        dark = !dark;

        dark
          ? (themeTogglerButton.appendChild(themeSvgMoon),
            themeTogglerButton.removeChild(themeSvgSun))
          : (themeTogglerButton.appendChild(themeSvgSun),
            themeTogglerButton.removeChild(themeSvgMoon));

            nav.classList.toggle("navbar-dark", dark);
            nav.classList.toggle("bg-dark", dark);
            nav.classList.toggle("bg-light", !dark);
            nav.classList.toggle("navbar-light", !dark);
          });
    </script>
  </body>
</html>
