<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bowtie –</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top mb-4">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">Bowtie</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#run-info">Run Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cases">Details</a>
            </li>
          </ul>
        </div>
        <button id="theme-toggler" class="btn border-0 me-1"></button>

        <a
          href="https://github.com/bowtie-json-schema/bowtie/"
          class="link-secondary"
        >
          <span class="navbar-text">
            <small id="bowtie-version">Bowtie v</small>
          </span>
        </a>
      </div>
    </nav>
    <div id="report"></div>

    <script>
      fetch("data.json")
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          const titleElement = document.querySelector("title");
          titleElement.textContent += ` ${data.dialect}`;

          const themeTogglerButton = document.getElementById("theme-toggler");
          let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
          if (dark) {
            var themeSvg = document.createElementNS(
              "http://www.w3.org/2000/svg",
              "svg"
            );
            themeSvg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
            themeSvg.setAttribute("width", "20");
            themeSvg.setAttribute("height", "20");
            themeSvg.setAttribute("fill", "currentColor");
            themeSvg.setAttribute("class", "bi bi-moon-fill");
            themeSvg.setAttribute("viewBox", "0 0 16 16");
            const path = document.createElementNS(
              "http://www.w3.org/2000/svg",
              "path"
            );
            path.setAttribute(
              "d",
              "M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
            );
            themeSvg.appendChild(path);

          } else {
            var themeSvg = document.createElementNS(
              "http://www.w3.org/2000/svg",
              "svg"
            );
            themeSvg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
            themeSvg.setAttribute("width", "20");
            themeSvg.setAttribute("height", "20");
            themeSvg.setAttribute("fill", "currentColor");
            themeSvg.setAttribute("class", "bi bi-sun");
            themeSvg.setAttribute("viewBox", "0 0 16 16");

            const path = document.createElementNS(
              "http://www.w3.org/2000/svg",
              "path"
            );
            path.setAttribute(
              "d",
              "M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
            );
            themeSvg.appendChild(path);
          }
          themeTogglerButton.appendChild(themeSvg);

          var bowtieVersion = document.getElementById('bowtie-version');
          bowtieVersion.textContent += `${data.version}`;
        });
    </script>
  </body>
</html>
