name: CI

on:
  push:
  pull_request:
  release:
    types: [published]
  schedule:
    # Daily at 5:12
    - cron: "12 5 * * *"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: pre-commit/action@v3.0.0

  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: >
          sudo apt-get update &&
          sudo apt-get install -y libenchant-dev
        if: runner.os == 'Linux'
      - name: Install dependencies
        run: brew install enchant podman
        if: runner.os == 'macOS'
      - name: Set up nox
        uses: wntrblm/nox@2022.8.7
      - name: Run nox
        run: nox

  packaging:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: python -m pip install build
      - name: Create packages
        run: python -m build .
      - name: Set up nox
        uses: wntrblm/nox@2022.8.7
      - name: Create shiv
        run: mkdir shiv/ && nox -s shiv -- shiv/bowtie && chmod +x shiv/bowtie
      - name: Tar files
        run: tar -cvf bowtie.tar dist shiv
      - uses: actions/upload-artifact@v3
        with:
          name: packages
          path: bowtie.tar
      - name: Publish to PyPI
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
      - name: Create a Release
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            shiv/bowtie
            dist/*
          generate_release_notes: true
