name: Deploy the UI and Latest Test Reports

on:
  workflow_call:
    inputs:
      report_artifact_in_scope:
        type: boolean
        default: false
  workflow_dispatch:
  release:
    types: [published]

jobs:
  # if called as a separate workflow
  build-frontend:
    uses: ./.github/workflows/build-frontend.yml
    if: inputs.report_artifact_in_scope == false

  collect:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: build-frontend
    steps:
      - name: Create _site directory
        run: mkdir _site

      # if called from report workflow
      - name: Download latest frontend-build
        uses: dawidd6/action-download-artifact@v3
        if: inputs.report_artifact_in_scope == true
        with:
          workflow: build-frontend.yml
          branch: main
          name: frontend-build
          path: _site
          if_no_artifact_found: warn

      - name: Download test report from local artifact
        uses: actions/download-artifact@v4
        if: inputs.report_artifact_in_scope == true
        with:
          name: site
          path: _site

      # if called as a separate workflow
      - name: Download frontend-build from local artifact
        uses: actions/download-artifact@v4
        if: inputs.report_artifact_in_scope == false
        with:
          name: frontend-build
          path: _site

      - name: Download latest test report
        if: inputs.report_artifact_in_scope == false
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: report.yml
          branch: main
          name: site
          path: _site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: collect
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
