name: Bowtie Images

on:
  workflow_dispatch:
  push:
    paths:
      - "implementations/**"
      - ".github/workflows/images.yml"
    tags:
      - "v*"

jobs:
  list:
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.images-matrix.outputs.images }}
    steps:
      - uses: actions/checkout@v3
      - id: images-matrix
        run: |
          python3 -c '
          from pathlib import Path
          import json
          paths = [
              str(path.name)
              for path in Path("implementations").iterdir()
              if path.is_dir()
          ]
          print(f"images={json.dumps(paths)}")
          ' >> $GITHUB_OUTPUT

  build:
    needs: list
    runs-on: ubuntu-latest

    permissions:
      packages: write

    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.list.outputs.images) }}

    steps:
      - uses: actions/checkout@v3

      - name: Registry Login
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
          registry: ghcr.io/${{ github.repository_owner }}

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Bowtie
        run: python3 -m pip install bowtie-json-schema

      - name: Build Bowtie Image
        run: |
          podman build -f implementations/${{ matrix.image }}/Dockerfile -t "ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}"
          podman push "ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}"
          bowtie smoke -i "ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}"
