name: Regenerate Test Reports

on:
  release:
    types: [published]
  workflow_call:
  workflow_dispatch:
  schedule:
    # Daily at 2:15
    - cron: "15 2 * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  fetch-previous:
    runs-on: ubuntu-latest
    steps:
      - name: Download previous test report from local artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: report.yml
          name: report
          path: report/previous

      - name: Remove already existing previous folder to prevent recursive folders
        run: rm -rf report/previous/previous

      - name: Upload previous test report to temporary artifact
        uses: actions/upload-artifact@v3
        with:
          name: prev-report
          path: |
            report/

  regenerate:
    needs: fetch-previous
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - draft2020-12
          - draft2019-09
          - draft7
          - draft6
          - draft4
          - draft3

    steps:
      # Ha ha, without me, reports sometimes claim they're running out of disk
      # space... See e.g. https://github.com/actions/runner-images/issues/2840
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/share/swift /opt/ghc /usr/lib/google-cloud-sdk /usr/local/.ghcup /usr/local/lib/android /usr/local/share/boost /usr/local/share/powershell "$AGENT_TOOLSDIRECTORY"

      # FIXME: we can skip checking out if we are able to list all images in
      #        the image repository
      - uses: actions/checkout@v4

      - name: Install Bowtie
        uses: ./

      - name: Generate the Report
        run: |
          bowtie suite $(ls implementations/ | sed 's/^/-i /') https://github.com/json-schema-org/JSON-Schema-Test-Suite/tree/main/tests/${{ matrix.version }} | tee ${{ matrix.version }}.json | bowtie badges

      # This unfortunately can go wrong if we ran out of memory in the above...
      # Besides fixing that, probably we should atomically move files into place.
      - name: Check Report is Valid
        run: |
          bowtie summary --show failures ${{ matrix.version }}.json --format markdown >> $GITHUB_STEP_SUMMARY

      - uses: actions/upload-artifact@v3
        with:
          name: report
          path: |
            ${{ matrix.version }}.json
            badges/

  store-previous:
    needs: regenerate
    runs-on: ubuntu-latest
    steps:
      - name: Download previous test report from temp artifact
        uses: actions/download-artifact@v3
        with:
          name: prev-report
          path: report/

      - name: Upload previous test report to previous folder in artifact
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: |
            report/

  deploy-frontend:
    needs: store-previous
    uses: ./.github/workflows/deploy-frontend.yml
    with:
      report_artifact_in_scope: true
